.breadcrumbs li { display: block; float: left;  }
.breadcrumbs li a { padding: 0 0.5em 0 0;}
.breadcrumbs li:not(:first-child):before { content: " ➜"; padding-right: .5em; }
.breadcrumbs { float: left; overflow: hidden; padding: 0.5em}