.web body {
	background-image: none;
}

.web body header {
	background-image: none;
}
.web body #header {
	background-color: var(--button-primary-color);
}

.web body #header a,
.web body #header a:hover,
.web body footer a,
.web body footer a:hover {
	color: #FFFFFF;
}

.web body footer {
	background-color: var(--button-primary-color);
	color: #fff;
}

a, a:visited { color: #006DAF; }
a:hover { color: #4159A8; }

.web .collection .collection-header {
	background: #F7F7FA;
}

.web .collection .collection-reports {
	background: #FAFAFD;
}

.web nav li { color: #4159A8; }

.web #header ul li button.logout { color: #ffffff; }

#pdf-builder .collapse { color: #4159A8; }


/* Skolavogin-specific chart styling
 * At the moment, skolavogin-specific chart styling is done as far as possible in the base chart styles,
 * with overrides here where required.
 *
 * TODO: Make a less function or something to streamline these.
 */

.bn-longitudinal-chart .data .longitudinal-points li.you .dot { background-color: #31419A; }
.bn-longitudinal-chart line.you { stroke: #31419A; }
.bn-longitudinal-chart .x-axis .you { color: #31419A; }
.fixed-key .you span, .key .you span { color: #31419A; }

.bn-longitudinal-chart .data .longitudinal-points li.you_school .dot { background-color: #65DB65; z-index: 9000001; }
.bn-longitudinal-chart line.you_school { stroke: #65DB65; }
.bn-longitudinal-chart .x-axis .you_school { color: #65DB65; }
.fixed-key .you_school span, .key .you_school span { color: #65DB65; }

line.you.bg-sex-1 { stroke: #81e29e; }
.bn-longitudinal-chart .data .longitudinal-points li.you.bg-sex-1 .dot { background-color: #81e29e; }
line.you.bg-sex-2 { stroke: #93d3c5; }
.bn-longitudinal-chart .data .longitudinal-points li.you.bg-sex-2 .dot { background-color: #93d3c5; }

line.compare.bg-sex-1 { stroke: #d39166; }
.bn-longitudinal-chart .data .longitudinal-points li.compare.bg-sex-1 .dot { background-color: #d39166; }
line.compare.bg-sex-2 { stroke: #b981da; }
.bn-longitudinal-chart .data .longitudinal-points li.compare.bg-sex-2 .dot { background-color: #b981da; }

.key .you.bg-sex-1 span, .fixed-key .you.bg-sex-1 span { color: #81e29e; }
.key .you.bg-sex-2 span, .fixed-key .you.bg-sex-2 span { color: #93d3c5; }
.key .compare.bg-sex-1 span, .fixed-key .compare.bg-sex-1 span { color: #d39166; }
.key .compare.bg-sex-2 span, .fixed-key .compare.bg-sex-2 span { color: #b981da; }

/* Bar Charts */


.bar-chart .data li.you { background-color: #31419A; border: 1px solid #31419A; }
.bar-chart .data li.you.bg { background-color: #4d7bdf; border: 1px solid #4d7bdf; }

.bar-chart .data li.you_school { background-color: #65DB65; border: 1px solid #65DB65; }
.bar-chart .data li.you_school.bg { background-color: #75DB75; border: 1px solid #75DB75; }

.fixed-key .you span,
.key .you span { color: #31419A; }
