body {
	background-image: none;
	background: #4159A8;
}

body header {
	background-image: none;
	background-color: #4159A8;
}

body #header a,
body #header a:hover,
body footer a,
body footer a:hover {
	color: #FFFFFF;
}

body footer {
	background-color: #4159A8;
	color: #fff;
}

a, a:visited { color: #006DAF; }
a:hover { color: #4159A8; }

.collection .collection-header {
	background: #F7F7FA;
}

.collection .collection-reports {
	background: #FAFAFD;
}

/*
.button,
.button-primary,
button,
input[type="button"],
input[type="submit"] {
	background-color: #007711;
	border-left: 1px solid #418223;
	border-top: 1px solid #418223;
	border-right: 1px solid #22692F;
	border-bottom: 1px solid #22692F;
	color: #FFFFFF;
}

.button:hover,
.button-primary:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #005511;
	border-left: 1px solid #418223;
	border-top: 1px solid #418223;
	border-right: 1px solid #22692F;
	border-bottom: 1px solid #22692F;
	color: #FFFFFF;
}

.button:active,
.button-primary:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active {
	background-color: #004411;
	border-left: 1px solid #418223;
	border-top: 1px solid #418223;
	border-right: 1px solid #22692F;
	border-bottom: 1px solid #22692F;
	color: #FFFFFF;
}

button:disabled,
button.disabled,
.button.disabled {
	cursor: normal;
	background-color: #555;
}*/


nav li { color: #4159A8; }

#header ul li button.logout { color: #ffffff; }

#pdf-builder .collapse { color: #4159A8; }


/* Skolavogin-specific chart styling
 * At the moment, skolavogin-specific chart styling is done as far as possible in the base chart styles,
 * with overrides here where required.
 */

.bn-compare-line .points li.you:before { color: #00f; }
.bn-compare-line line.you { stroke: #00f; }
.bn-compare-line-x-axis .you { color: #00f; }
.fixed-key .you span, .key .you span { color: #00f; }

/* Bar Charts */

.bars li.you { background-color: #00f; outline: 1px solid #00f; }

.fixed-key .you span,
.key .you span { color: #00f; }