/* SKOLAPULSINN GREEN */
.-white-sp, .-white-st {background-color:#80c860}
.-white-sp .choice-target, .-white-st .choice-target  { background-color: #D4E8C1; outline: 1px solid #D4E8C1; }
.-white-sp .choice-target.selected, .-white-sp .choice-target:hover, .no-touch .-white-sp .choice-target:hover, .-white-st .choice-target.selected, .-white-st .choice-target:hover, .no-touch .-white-st .choice-target:hover { background-color: #FEFCD7; -webkit-transition: all 0.1s linear;  }

.-white-sp #header, .-white-st #header  { background: none; }
.-white-sp button, .-white-sp input[type="button"], .-white-st button, .-white-st input[type="button"] { background-color: #007711; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F; }
.-white-sp button:hover, .-white-sp input[type="button"]:hover, .-white-st button:hover, .-white-st input[type="button"]:hover  { background-color: #005511; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}
.-white-sp button:active, .-white-sp input[type="button"]:active, .-white-st button:active, .-white-st input[type="button"]:active { background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}
.-white-sp button:visited, .-white-sp input[type="button"]:visited, .-white-st button:visited, .-white-st input[type="button"]:visited { background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}

h1 ol, h1 ul { margin: 0 0 20px 20px; list-style: disc; }

#survey-form button[type="submit"].pause-button {
	height: 12px; width: 30px;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
	position: absolute;
	top: 17px;
	left: 10px;
}

input#access_key {
	width: 250px;
}

/* Config */
@import "app/config.less";

@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('../webfonts/26E8D5_3_0.eot');
	src: url('../webfonts/26E8D5_3_0.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/26E8D5_3_0.woff') format('woff'),
	url('../webfonts/26E8D5_3_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	src: url('../webfonts/26E8D5_4_0.eot');
	src: url('../webfonts/26E8D5_4_0.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/26E8D5_4_0.woff') format('woff'),
	url('../webfonts/26E8D5_4_0.ttf') format('truetype');
}


/* Base */
@import "base/_base.less";
@import "base/_typography.less";
@import "base/_buttons.less";
@import "base/_forms.less";


/* messages are now inline, using a hack */
@import "konnun/web.less";
@import "konnun/tablet.less";
@import "konnun/mobile.less";
