/* Config */
@import "app/config.less";

/* Base */
@import "base/_base.less";
@import "base/_links.less";
@import "base/_skeleton.less";
@import "base/_typography.less";
@import "base/_tables.less";

@import "reports/tables.less";


body {
	font-size: 11px;
	margin-left: 2em;
}

.chart-section .chart .data,
.chart-section .chart .key,
.chart-section .chart .x-axis,
.chart-section .chart .x-axis ol li {
	font-size: 11px !important;
}

.chart-section .chart .x-axis ol.row2 li,
.chart-section .chart .x-axis ol.row3 li {
	font-size: 9px !important;
	letter-spacing: 0.02em;
	color: #666;
}

.section h3,
.chart-section .chart .title {
	font-size: 16px;
}

.page-heading h1 {
	font-family: @text-font-family-bold;
	font-size: 28px;
}

.survey-metadata-section {
	font-size: 11px;
}

.table-section {
	font-size: 11px;
}


/* In print, all links should be body text colour. */
a, a:hover, a:focus { color: inherit; }


/* Override table top margin */
.full-width-table {
	margin-top: 0;
	margin-top: 16px;
}


strong {
	font-family: @text-font-family-bold;
}

.page {
	page-break-after: always;
	width: 100%;
	clear: both;
}

/**
 * These values are optimistic, in the hope that future versions of Phantom (>1.9) will support them.
 * Until then, gnarly CSS selectors are used to apply display: inline-block to non-list sections, and to list section responses.
 * Note that no display: value is set as that is set dynamically when creating customised PDFs.
 */
.chart-section,
.survey-metadata-section,
.html-section,
.table-section,
.response-list li {
	page-break-inside: avoid;
	-webkit-region-break-inside: avoid;
	width: 100%;
}

.chart-section:after,
.survey-metadata-section:after,
.html-section:after,
.table-section:after {
	display:block;
	height:0px;
	visibility: hidden;
}

.list-section .response-list li { 
	padding: 0.2em;
	margin-bottom: 0.5em;
	background: #efefef;
}

/* Cover Pages */

.report-cover {
	clear: both;
	border-top: black solid 4px;
	border-bottom: black solid 8px;
	margin-bottom: 10px;
}

.report-cover h1 {
	margin-bottom: 1em;
	font-size: 64px;
	font-family: @text-font-family-bold;
}

.report-cover h2, h3, h4 { font-family: @text-font-family; }

.report-cover h2 {
	color: #007722;
	font-size: 28px;
}

.cover-footer {
	width: 100%;
	height: 45px;
	padding-top: 1em;
}

.category-cover-page h1 {
	border-bottom: solid black 8px;
	padding-bottom: 0.1em;
}

.cover-footer a {
	color: #007722;
}

.cover-footer-left { 
	width: 25%;
	float: right;
	text-align: center;
}

.cover-footer-contact-info {
	width: 30%;
	float: left;
	text-align: left;
}

.cover-footer .p-author .p-tel { display: block; }

/* Page Elements */

.page-heading {
	border-bottom: black solid 4px;
	padding: 15pt;
	margin-bottom: 25pt;
}

.section-note {
	white-space: pre-wrap;
}

.toc ul,
.toc ul li {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	margin-left: 0.6em;
	letter-spacing: 0.01em;
}

.muted,
.toc li .muted {
	color: #777;
	font-weight: normal;
}
