/* Config */
@import "app/fonts.less";
@import "app/config.less";

/* Base */
@import "base/_base.less";
@import "base/_links.less";
@import "base/_skeleton.less";
@import "base/_typography.less";
@import "base/_tables.less";

@import "reports/tables.less";

body { margin-left: 0.5cm; }

strong {
	font-family: @text-font-family-bold;
}

a {	color: #007722; }

.page {
	page-break-after: always;
	width: 100%;
	clear: both;
}

.table-section,
.section-note { font-size: 11px; }

.section-note { margin-top: 10px; }

.toc ul,
.toc ul li {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6em;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.4;
}

.chart-section, .survey-metadata-section, .html-section, .table-section {
	/* preventing page breaks doesn’t work in phantom 1.9, lines below fake this behaviour */
	page-break-inside: avoid;
	-webkit-region-break-inside: avoid;
	width: 100%;
}

.chart-section:after, .survey-metadata-section:after, .html-section:after {
	display:block;
	height:0px;
	visibility: hidden;
}

.chart {
	font-size: 11px;
}

/* Override chart sizes */

.chart .bars,
.chart .bars ol,
.bar-chart .y-axis { height: 100px; }

.scatter .y-axis, .scatter .plot { height: 200px; }

/* when we shrink the font, our diamonds shift to the top-left, this compensates the SVG lines */
div.longitudinal-lines { margin-top: 3px; }


/* Cover Pages */

.report-cover {
	clear: both;
	border-top: black solid 4px;
	border-bottom: black solid 8px;
	margin-bottom: 10px;
}

.report-cover h1 {
	margin-bottom: 1em;
	font-family: @text-font-family-bold;
	line-height: 1.4;
	font-size: 40px;
}

.report-cover h2, h3, h4 { font-family: @text-font-family; }

.report-cover h2 {
	color: #007722;
	font-size: 20px;
}

.report-cover h3 {
	font-size: 16px;
}

.cover-footer {
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	height: 45px;
	padding-top: 5pt;
}

.category-cover-page h1 {
	border-bottom: solid black 8px;
	padding-bottom: 0.1em;
	font-size: 40px;
}

.cover-footer a {
	font-size: 12px;
	line-height: 14px;
}

.cover-footer-left { 
	width: 25%;
	float: right;
	text-align: center;
}

.cover-footer-contact-info {
	width: 30%;
	float: left;
	text-align: left;
}

.cover-footer .p-author .p-tel { display: block }



/* Page Elements */

.page-heading {
	border-bottom: black solid 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.page-heading h1 {
	font-family: @text-font-family-bold;
	font-size: 20px;
	margin-bottom: 0;
	line-height: 1.4;
}

.page-heading h2 {
	font-family: @text-font-family;
	font-size: 18px;
	line-height: 1.4;
}

.page-section h3 {
	font-family: @text-font-family-bold;
	font-size: 16px;
	line-height: 1.4;
}

.muted,
.toc li .muted {
	color: #777;
	font-weight: normal;
}

/* section-specific styles */
.list-section .response-list li { 
	padding: 0.2em;
	margin-bottom: 0.5em;
	background: #efefef;
	font-size: 0.6em;
}

.survey-metadata-section {
	font-size: 0.7em;
}

.section-note {
	white-space: pre-wrap;
}

/* Skólavogin Summary Table PDF Styling */

/* The 3.5em translation right which was required in the web view is too much for the PDFs. 1em works better. 
 * Phantom JS will likely only ever use -webkit, but the standards compliant declaration is left in for completeness.
 */
.summary-table th.data-column-cell .header-text {
	transform: translate(1em, -0.5em) rotate(-90deg);
	-webkit-transform: translate(1em, -0.5em) rotate(-90deg);
	white-space: nowrap;

}

.summary-table th.data-column-cell {
	height: 8em;
}

/* As an entire summary table is a block item which will try to flow onto a new page if it would be chopped up on it’s own
 * page, Phantom JS cannot guarantee clean breaks within it. This is an attempt to hack summary tables breaking in approximately
 * the right place.
 */
.summary-table tr:nth-child(19) {
	page-break-after: always;
}