/* Config */
@import "app/fonts.less";
@import "app/config.less";

/* Base */
@import "base/_base.less";
@import "base/_links.less";
@import "base/_skeleton.less";
@import "base/_typography.less";
@import "base/_tables.less";

@import "reports/tables.less";

strong {
	font-family: @text-font-family-bold;
}

a {	color: #007722; }

.page {
	page-break-after: always;
	width: 100%;
	clear: both;
}

/* Temporary fix for overlapping table header bug described (along with various other potential fixes) here: https://github.com/ariya/phantomjs/issues/10927 */
.table-section thead, .table-section tfoot { display: table-row-group; }

.table-section,
.section-note { font-size: 12px; }

.section-note { margin-top: 10px; }

.toc ul,
.toc ul li {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6em;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.4;
}

.chart-section, .survey-metadata-section, .html-section, .table-section {
	page-break-inside: avoid;
	width: 100%;
}

.chart-section:after, .survey-metadata-section:after, .html-section:after {
	display:block;
	height:0px;
	visibility: hidden;
}

.chart {
	font-size: 12px;
	margin-bottom: 1em;
}

/* Override chart styles
 * Typically sizes and offsets, tweaked by a few pixels to ensure everything lines up perfectly.
 */

.chart .bars,
.chart .bars ol,
.bar-chart .y-axis { height: 100px; }

.scatter .y-axis, .scatter .plot { height: 200px; }
.scatter .y-axis ol { top: -1.5px; }  /* The offset required for scatter charts in the PDFs is smaller than on the web. */

/* Longitudinal y axes require a slight offset in PDFs. */
.bn-compare-line .y-axis ol {
	height: 100%;
	position: relative;
	top: 3px;
}

/* Longitudinal charts have a tendency to overflow unless hard limits are set on the container element. !important lets us override the max-width in the element style attribute. */
.bn-longitudinal-chart {
	max-width: 450px !important;
}

/* longitudinal points requires an offset to move the points up to the (correct) line positions */
.bn-compare-line .longitudinal-points {
	bottom: 7px;
}

/* Bar chart y axes require a slight offset in PDFs. */
.bar-chart .y-axis ol {
	height: 100%;
	position: relative;
	top: 1.5px;
}


/* Cover Pages */

.report-cover {
	clear: both;
	border-top: black solid 4px;
	border-bottom: black solid 8px;
	margin-bottom: 10px;
	padding: 0 1em;
}

.report-cover h1 {
	font-family: @text-font-family-bold;
	line-height: 1.4;
	font-size: 40px;
}

.report-cover h2, h3, h4 { font-family: @text-font-family; }

.report-cover h2 {
	color: #007722;
	font-size: 20px;
}

.report-cover h3 {
	font-size: 16px;
}

.cover-footer {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5pt;
	padding-left: 1em;
}

.category-cover-page h1 {
	border-bottom: solid black 8px;
	padding-bottom: 0.1em;
	font-size: 40px;
}

.cover-footer a {
	font-size: 12px;
	line-height: 14px;
}

.cover-footer-left { 
	width: 25%;
	float: right;
	text-align: center;
}

.cover-footer-contact-info {
	float: left;
	text-align: left;
}

.cover-footer .p-author .p-tel { display: block }



/* Page Elements */

.page-heading {
	border-bottom: black solid 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.page-heading h1 {
	font-family: @text-font-family-bold;
	font-size: 20px;
	margin-bottom: 0;
	line-height: 1.4;
}

.page-heading h2 {
	font-family: @text-font-family;
	font-size: 18px;
	line-height: 1.4;
}

.page-section h3 {
	font-family: @text-font-family-bold;
	font-size: 16px;
	line-height: 1.4;
}

.muted,
.toc li .muted {
	color: #777;
	font-weight: normal;
}

/* section-specific styles */
.list-section .response-list {
	max-width: 100%;
}

.list-section .response-list li { 
	padding: 0.2em;
	margin-bottom: 0.5em;
	background: #efefef;
	font-size: 0.6em;
	white-space: normal;
	word-break: break-all;
	overflow: hidden;
	max-width: 100%;
}

.survey-metadata-section {
	font-size: 0.7em;
}

.section-note {
	white-space: pre-wrap;
}

/* Skólavogin Summary Table PDF Styling */

/* The 3.5em translation right which was required in the web view is too much for the PDFs. 1em works better. */
.summary-table th.data-column-cell .header-text {
	transform: translate(1em, -0.5em) rotate(-90deg);
	white-space: nowrap;

}

.summary-table th.data-column-cell {
	height: 11em;
}

tr {
	page-break-inside: avoid;
}
