/* #Fonts
================================================== */

	@font-face {
		font-family: 'AvenirNextLTPro-Bold';
		font-weight: bold;
		font-weight: 700;
		src: local('AvenirNextLTProBold'),
		local('Avenir Next'),
		url('../webfonts/26E8D5_0_0.eot');
		src: url('../webfonts/26E8D5_0_0.eot?#iefix') format('embedded-opentype'), 
		url('../webfonts/26E8D5_0_0.woff') format('woff'),
		url('../webfonts/26E8D5_0_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'AvenirNextLTPro-BoldIt';
		font-weight: bold;
		font-weight: 700;
		font-style: italic;
		src: local('AvenirNextLTProBoldIt'),
		local('Avenir Next Bold Italic'),
		 url('../webfonts/26E8D5_1_0.eot');
		src: url('../webfonts/26E8D5_1_0.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/26E8D5_1_0.woff') format('woff'),
		url('../webfonts/26E8D5_1_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'AvenirNextLTPro-It';
		font-weight: regular;
		font-style: italic;
		src: local('AvenirNextLTProIt'),
		local('Avenir Next Italic'),
		url('../webfonts/26E8D5_2_0.eot');
		src: url('../webfonts/26E8D5_2_0.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/26E8D5_2_0.woff') format('woff'),
		url('../webfonts/26E8D5_2_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'AvenirNextLTPro-Demi';
		font-weight: regular;
		font-weight: 500;
		src: local('AvenirNextLTProDemi'),
			local('Avenir Next Demi'),
		 	url('../webfonts/26E8D5_3_0.eot');
		src: url('../webfonts/26E8D5_3_0.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/26E8D5_3_0.woff') format('woff'),
		url('../webfonts/26E8D5_3_0.ttf') format('truetype');
	}
  
	@font-face {
		font-family: 'AvenirNextLTPro-Regular';
		font-weight: regular;
		src:  local('AvenirNextLTProRegular'),
		local('Avenir Next'),
		url('../webfonts/26E8D5_4_0.eot');
		src: url('../webfonts/26E8D5_4_0.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/26E8D5_4_0.woff') format('woff'),
		url('../webfonts/26E8D5_4_0.ttf') format('truetype');
	}
