/* Mobile (Landscape) Design for a width of 480px ================================================== */
	
    @media only screen and (min-width: 480px) and (max-width: 767px) {

		header { position: relative; }
	    header object, header img { display: block; margin-left: auto; margin-right: auto; }
	    header nav { display: none; }

		#content { padding-top: 0px; }


		// Ornaments
		.mountains-whole { width: 750px; height: 132px; }


		// Services
		.services-plus { margin-top: 0px; }


		// Projects	    	
		.artwork-line-graph { width: 360px; height: 47px; }	    
		.artwork-projects-featured-graph { width: 700px; height: 287px; }

	}



/* Mobile (Portrait) Design for a width of 480px ================================================== */


    @media only screen and (max-width: 480px) {

		header { position: relative; }
	    header object, header img { display: block; margin-left: auto; margin-right: auto; }
	    header nav { display: none; }
	    
		#content { padding-top: 0px; }

		// Ornaments
		.mountains-whole { width: 750px; height: 132px; }


		// Services
		.services-plus { margin-top: 0px; }
	

		// Projects	    	
		.artwork-line-graph { width: 440px; height: 58px; }	
		.artwork-projects-featured-graph { width: 700px; height: 287px; }
	    
	}
