/* #Graphs 
================================================== */


	.graphs-global {
		width: 100%;
		height: 500px;
		background: #fdfdfd;
		border: 1px solid #dedede;
	}
	
	.graphs-horizontal {

	}
	
	.graphs-vertical {
	
	}

