/*	Vísar - Reports - mobile.less
================================================== */

/* Mobile Landscape */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		header 			{ position: fixed; }
	    #header a.logo 	{ margin: 0 auto; }
		#messages 		{ padding-top: 0; }
	}


/* Mobile Portrait */

    @media only screen and (max-width: 480px) {

		header 			{ position: fixed; }
	    header a.logo 	{ margin: 0 auto; position: relative; top: 14px; left: 0px; }
	    
		#messages 		{ padding-top: 0; }
	}


	@media only screen and (max-width: 767px) {
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.rounded tr td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 35%; 
		}
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 30%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		td:before { content: attr(axis); }
	}