/* #Responsive Mobile (Landscape) Design for a width of 480px
================================================== */
	
    @media only screen and (min-width: 480px) and (max-width: 767px) {

		header { position: relative; }
	    #header .logo { width: 156px; height: 42px; float: none; margin: 0 auto; position: relative; top: 14px; left: 0px; }
	    #header nav { display: none; }

		#messages { padding-top: 0; }

		#content { padding-top: 0px; }

	}


/* #Responsive Mobile (Portrait) Design for a width of 480px
================================================== */

    @media only screen and (max-width: 480px) {

		header { position: relative; }
	    header .logo { width: 156px; height: 42px; float: none; margin: 0 auto; position: relative; top: 14px; left: 0px; }
	    header nav { display: none; }
	    
		#messages { padding-top: 0; }	    
	    
		#content { padding-top: 0px; }

	}
