/*	Vísar - Reports - mobile.less
================================================== */

/* Mobile Landscape */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		header 			{ position: fixed; }
	    #header a.logo 	{ margin: 0 auto; }
		#messages 		{ padding-top: 0; }
	}


/* Mobile Portrait */

    @media only screen and (max-width: 480px) {

		header 			{ position: fixed; }
	    header a.logo 	{ margin: 0 auto; position: relative; top: 14px; left: 0px; }
	    
		#messages 		{ padding-top: 0; }	    
	    
		#content 		{ padding-top: 0px; }

	}
