
@media only screen and (max-width: 767px) {
	/* Collapsing Responsive Tables */
	
	table.collapse,
	.collapse thead,
	.collapse tbody,
	.collapse th,
	.collapse td,
	.collapse tr { 
		display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.collapse thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.collapse .rounded tr td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 45%; 
	}
	
	.collapse td:before { 
		width: 40%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(axis) ':';
	}
}

td.significant { font-weight: bold; color: #80c860;  }
td.significant:after { content: "*"; }