
@media only screen and (max-width: 767px) {
	/* Collapsing Responsive Tables */
	
	table.collapse,
	.collapse thead,
	.collapse tbody,
	.collapse th,
	.collapse td,
	.collapse tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.collapse thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.collapse .rounded tr td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 45%; 
	}
	
	.collapse td:before { 
		width: 40%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(axis) ':';
	}
}

td.significant { font-weight: bold; color: #010871;  }
td.significant:after { content: "*"; }

td[axis=N] sub {
	color: rgb(85, 85, 85);
	font-size: 0.7em;
}

.summary-table .header-text {
	font-size: 0.7em;
}

.summary-table .negatively-significant {
	background: rgba(255, 0, 0, 0.2);
}
.summary-table .negatively-significant:after {
	content: ' ⬇';
	color: rgba(200, 0, 0, 0.7);
}

.summary-table .positively-significant {
	background: rgba(0, 255, 0, 0.2);
}
.summary-table .positively-significant:after {
	content: ' ⬆';
	color: rgba(0, 200, 0, 0.7);
}
