/*	Vísar - Reports - web.less
================================================== */

/* special code for the breadcrumbs */
.breadcrumbs ol li { display: inline;  }
.breadcrumbs ol li a { padding: 0 0.5em 0 0;}
.breadcrumbs ol li:before { content: " | "; }
.breadcrumbs { width: 100%; overflow: hidden; white-space: nowrap;}
.dimmer { display: none;}

@media (max-width: 570px) {
	.dimmer { display: block;}
	
	.breadcrumbs ol li { width: 25%; display: block; float: left; overflow: hidden;  position: relative;}
	.breadcrumbs  .dimmer {
		display: block; position: absolute; right: 0; top: 0; bottom: 0; width: 30px;
		background-image: linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -o-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -moz-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -webkit-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -ms-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgba(255,255,255,0)), color-stop(1, #fdfdfd));
    }
}

/* Special Styling for PDF Builder */
#pdf-builder label { display: block; cursor: pointer; }
#pdf-builder li label:hover { background-color: #eee; }
#pdf-builder li ul { margin-left: 1.25em }
#pdf-builder li label { padding: 2px}
#pdf-builder .collapse { float: right; margin-top: -26px; padding-right: 1em; cursor: pointer; color: #006DAF; font-weight: bold; }
#pdf-builder .collapse:hover { text-decoration: underline; }
#pdf-builder .collapsible { font-weight: bold; border-bottom: 1px solid #eee; }


body { .background-stone; }

.pseudo-text, .pseudo-text:active, .pseudo-text:focus {
	width: 100%;
	border: 1px solid;
	border-color: #eee;
	border-color: rgba(0, 0, 0, 0);
	border-radius: none;
	padding: 0.25em;
	margin: 0.5em 0;
	font-size: 90%;
	background: #efefef;
}

.pseudo-text:hover, .pseudo-text:focus {
  border-color: #777;
	box-shadow: inset #777 0 0 0.3em;
	background: #eaeaea;
}

.section {
	margin-bottom: 2em;
}

.chart-section {
	background: #FFFEFF;
	border: 1px solid #dedede;
	margin-bottom: 2em;
	padding: 2em;
}


.notes-save-button {
	float: right;
}

/* Offsetting of things to line up with 5% chart left margin */
.chart-section .notes {
	width: 95%;
	margin-left: 5%;
}

.chart-section .controls {
	width: 95%;
	margin: 0.5em auto 0.5em 5%;
}

.chart-section .controls li {
	display: inline;
	margin-right: 1em;
}

.background-stone {
	background-image: url('../img/background-stone.jpg');
	background-position: 0 0;
	background-repeat: repeat;
}

.report-context {
	background: #EEE;
	padding: 1em;
	margin-bottom: 1em;
}

.report-context .language-form {
	display: inline;
	float: right;
}

.report-context .language-form select {
	display: inline;
	width: auto;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;      
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: both; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Global Base */
	
	#wrap 					{ min-height: 100%; }

	header 					{ width: 100%; height: 65px; position: fixed; .background-stone; border-bottom: 1px solid @greenLightBorder; }
	#header					{ height: 65px; }
	#header .logo			{ position: absolute; left: 9%; top: 10px; }
	#header .logo object { pointer-events: none; }
	#header ul 				{ margin: 0 auto; max-width: 1040px; width: 90%; position: relative; }
	#header ul li			{ float: left; /*border-left: 1px solid #B0B1B2;*/ }
	#header ul li.last		{ /*border-right: 1px solid #B0B1B2;*/ position: absolute; right: 125px; top: 0; }
	#header ul li a				{ display: block; padding: 20px 30px; width: 100%; }
	#header ul li.logout 	{ position: absolute; top: 15px; right: 15px; border: none; }

	#content 				{ background-color: #fff; padding-top: 66px; padding-bottom: 25px; /* must be same height as the footer */ }
	.container              { width: 90%; max-width: 1040px; margin: 0px auto; }

	footer					{  border-top: 1px solid @greenLightBorder; padding: 1em 0; /* negative value of footer height */ }


/* Lightbox */

	#lightbox {
		display: none;
		position: fixed; /* keeps the lightbox window in the current viewport */
		top:0; 
		left:0; 
		width:100%; 
		height:100%; 
		background-color:rgba(0,0,0,0.85);
		text-align:center;
	}

	#lightbox-close {
		width: 90px;
		position: fixed;
		top: 20px;
		right: 20px;
		background: #CCCCCC;
		color: #333333;
		font-weight: bold;
		padding: 8px 4px;
		z-index: 10;
		text-align: center;
	}

	#lightbox-close:hover {
		background: #AAAAAA;
		color: #333333;
		text-decoration: none;
	}

	#lightbox-content {
		display: block;
		width: 560px;
		text-align: left;
		background: #EEEEEE;
		color: #333333;
		margin: 20px auto;
		padding: 30px;
		font-size: 18px;
	}

	#lightbox-content .project-icons {
		margin-right: 20px;	
	}

	.projects-content {
		display: none;
	}


#overlay-container {
	background: black;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	position: fixed;
	cursor: pointer;
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
}

#overlay-content {
	margin: 0 auto;
	background: #efefef;
	margin-top: 5%;
	width: 80%;
	padding: 2em;
}


.download-chart-container {
	height: 100%;
	width: 100%;
	background: black;
	display: block;
	position: absolute;
}

.download-chart-instructions {
	padding: 1em 1em 0 1em;
	background: #EEE;
	border-bottom: #AAA 1px solid;
}

.download-chart-chart {
	margin-top: 5%;
}

.download-chart-chart img {
	display: block;
	margin: 0 auto;
}

/* Settings icon, maybe others in the future */
.inline-icon,
.inline-icon img {
	width: 1em;
	height: 1em;
	position: relative;
	bottom: -0.3ex;
	margin-right: 0.3ex;
}

a .inline-icon {
	cursor: pointer;
}


.breadcrumbs li { display: inline;  }
.breadcrumbs li a { padding: 0 0.5em 0 0;}
.breadcrumbs li:before { content: " | "; }
.breadcrumbs { width: 100%; overflow: hidden; white-space: nowrap;}
.breadcrumbs .dimmer { display: none;}
@media (max-width: 570px) {
	.breadcrumbs .dimmer { display: block;}

	.breadcrumbs li { width: 33%; display: block; float: left; overflow: hidden;  position: relative;}
	.breadcrumbs .dimmer {
		pointer-events: none;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		background-image: -o-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -moz-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -webkit-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -ms-linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			right bottom,
			color-stop(0, rgba(255,255,255,0)),
			color-stop(1, #fdfdfd)
			);
		background-image: linear-gradient(left , rgba(255,255,255,0) 0%, #fdfdfd 100%);
	}
}

body.-sp {
 background-image: none;
 background: #80C860;

}

body.-sp header {
	background-image: none;
	background-color: #80C860;
}

body.-sp #header ul li a {
    color: #FFFFFF;
}

body.-sp footer {
	background-color: #80C860;
	color: #fff;
}

.-sp .button,.-sp .button-primary, .-sp button, .-sp input[type="button"] { background-color: #007711; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F; }
.-sp .button:hover,.-sp .button-primary:hover, .-sp button:hover, .-sp input[type="button"]:hover  { background-color: #005511; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}
.-sp .button:active,.-sp .button-primary:active, .-sp button:active, .-sp input[type="button"]:active { background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}

