/*	Vísar - Reports - web.less
================================================== */
.background-stone {
	background-image: url('../img/background-stone.jpg');
	background-position: 0 0;
	background-repeat: repeat;
}

.report-context {
	background: #EEE;
	padding: 1em;
}

.report-context .language-form {
	display: inline;
	float: right;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;      
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: both; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Global Base */

	#wrap 					{ min-height: 100%; }

	header 					{ width: 100%; height: 65px; position: fixed; .background-stone; border-bottom: 1px solid @greenLightBorder; }
	#header					{ height: 65px; }
	#header .logo 			{ width: 156px; height: 42px; float: left; position: relative; top: 10px; left: 15px; display: block; }
	#header	a.logo  		{ position: relative; z-index: 1; top: 10px; left: 15px; }
	#header	a.logo  span 	{ display: inline-block; }
	#header	a.logo  object 	{ position: relative; z-index: -1; width: 156px; height: 42px; display: block; }
	#header nav				{ float: right; position: relative; top: 15px; left: 0px; }
	#header nav ul li		{ float: left; margin-left: 20px; }
	#header nav a			{ margin-left: 15px; }

	#content 				{ padding-top: 110px; padding-bottom: 250px; /* must be same height as the footer */ }
	.container              { width: 90%; max-width: 1040px; margin: 0px auto; }

	footer					{ height: 250px; .background-stone; border-top: 1px solid @greenLightBorder; padding-top: 1em; margin-top: -200px; /* negative value of footer height */ }


/* Lightbox */

	#lightbox {
		display: none;
		position: fixed; /* keeps the lightbox window in the current viewport */
		top:0; 
		left:0; 
		width:100%; 
		height:100%; 
		background-color:rgba(0,0,0,0.85);
		text-align:center;
	}

	#lightbox-close {
		width: 90px;
		position: fixed;
		top: 20px;
		right: 20px;
		background: #CCCCCC;
		color: #333333;
		font-weight: bold;
		padding: 8px 4px;
		z-index: 10;
		text-align: center;
	}

	#lightbox-close:hover {
		background: #AAAAAA;
		color: #333333;
		text-decoration: none;
	}

	#lightbox-content {
		display: block;
		width: 560px;
		text-align: left;
		background: #EEEEEE;
		color: #333333;
		margin: 20px auto;
		padding: 30px;
		font-size: 18px;
	}

	#lightbox-content .project-icons {
		margin-right: 20px;	
	}

	.projects-content {
		display: none;
	}	