/*	Vísar - Reports - web.less
================================================== */

.pseudo-text, .pseudo-text:active, .pseudo-text:focus {
	width: 100%;
	border: none;
	padding: 0.25em;
	margin: 0;
	font-size: 90%;
}

.pseudo-text:hover {
  background-color: #006DAF;
}

.section {
	background: #fdfdfd;
	border: 1px solid #dedede;
	margin-bottom: 2em;
	padding: 2em;
}

.notes {
	width: 95%;
	margin-left: 5%;
}

.notes-save-button {
	float: right;
}

.chart .controls {
	display: inline;
	width: 95%;
	margin-left: 5%;
}

.chart .controls li {
	display: inline;
	margin-right: 1em;
}

.background-stone {
	background-image: url('../img/background-stone.jpg');
	background-position: 0 0;
	background-repeat: repeat;
}

.report-context {
	background: #EEE;
	padding: 1em;
	margin-bottom: 1em;
}

.report-context .language-form {
	display: inline;
	float: right;
}

.report-context .language-form select {
	display: inline;
	width: auto;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;      
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: both; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Fix for non-clickable object SVG icon from http://stackoverflow.com/a/18018370/2782083 */
a.svg {
  position: relative;
  display: inline-block; 
}

a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

/* Global Base */

	#wrap 					{ min-height: 100%; }

	header 					{ width: 100%; height: 65px; position: fixed; .background-stone; border-bottom: 1px solid @greenLightBorder; }
	#header					{ height: 65px; }
	#header .logo			{ position: absolute; left: 5%; top: 10px; pointer-events: none; }
	#header ul 				{ margin: 0 auto; max-width: 1040px; width: 90%; position: relative; }
	#header ul li			{ float: left; /*border-left: 1px solid #B0B1B2;*/ }
	#header ul li.last		{ /*border-right: 1px solid #B0B1B2;*/ position: absolute; right: 125px; top: 0; }
	#header ul li a				{ display: block; padding: 20px 30px; width: 100%; }
	#header ul li.logout 	{ position: absolute; top: 15px; right: 15px; border: none; }

	#content 				{ padding-top: 110px; padding-bottom: 250px; /* must be same height as the footer */ }
	.container              { width: 90%; max-width: 1040px; margin: 0px auto; }

	footer					{ height: 250px; .background-stone; border-top: 1px solid @greenLightBorder; padding-top: 1em; margin-top: -200px; /* negative value of footer height */ }


/* Lightbox */

	#lightbox {
		display: none;
		position: fixed; /* keeps the lightbox window in the current viewport */
		top:0; 
		left:0; 
		width:100%; 
		height:100%; 
		background-color:rgba(0,0,0,0.85);
		text-align:center;
	}

	#lightbox-close {
		width: 90px;
		position: fixed;
		top: 20px;
		right: 20px;
		background: #CCCCCC;
		color: #333333;
		font-weight: bold;
		padding: 8px 4px;
		z-index: 10;
		text-align: center;
	}

	#lightbox-close:hover {
		background: #AAAAAA;
		color: #333333;
		text-decoration: none;
	}

	#lightbox-content {
		display: block;
		width: 560px;
		text-align: left;
		background: #EEEEEE;
		color: #333333;
		margin: 20px auto;
		padding: 30px;
		font-size: 18px;
	}

	#lightbox-content .project-icons {
		margin-right: 20px;	
	}

	.projects-content {
		display: none;
	}


#overlay-container {
	background: black;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	position: fixed;
	cursor: pointer;
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
}

#overlay-content {
	margin: 0 auto;
	background: #efefef;
	margin-top: 5%;
	width: 80%;
	padding: 2em;
}


.download-chart-container {
	height: 100%;
	width: 100%;
	background: black;
	display: block;
	position: absolute;
}

.download-chart-instructions {
	padding: 1em 1em 0 1em;
	background: #EEE;
	border-bottom: #AAA 1px solid;
}

.download-chart-chart {
	margin-top: 5%;
}

.download-chart-chart img {
	display: block;
	margin: 0 auto;
}

/* Settings icon, maybe others in the future */
.inline-icon,
.inline-icon img {
	width: 1em;
	position: relative;
	bottom: -0.3ex;
	margin-right: 0.3ex;
}

a .inline-icon {
	cursor: pointer;
}
