@bar-data-height: 120px;

.bars { height: @bar-data-height; margin-left: 65px; }
.bars ol { margin-right: 0px; position: relative; height: @bar-data-height; }
.bar { position: absolute; bottom: 0; margin: 0; padding: 0; background-color: #ccc; text-align: center;}
.bar span { display: none; }
.bars li.you { background-color: #65DB65; outline: 1px solid #65DB65; }
.bars li.compare { background-color: #dc3912; outline: 1px solid #dc3912; }
.bars li.you.bg { background-color: #a3e9a3; outline: 1px solid #a3e9a3; }
.bars li.compare.bg { background-color: #EFA17C; outline: 1px solid #EFA17C; }

@media screen and (min-width: 900px) {
	.bars ol { margin-right: 160px; }
	.error-message { margin-right: 160px; }
}
