.bar-chart {

	.data {
		.bar { position: absolute; bottom: 0; margin: 0; padding: 0; background-color: #ccc; text-align: center;}
		.bar span { display: none; }

		li { box-sizing: border-box; }

		li.you { background-color: #65DB65; border: 1px solid #65DB65; }
		li.compare { background-color: #dc3912; border: 1px solid #dc3912; }
		li.you.bg { background-color: #a3e9a3; border: 1px solid #a3e9a3; }
		li.compare.bg { background-color: #EFA17C; border: 1px solid #EFA17C; }
		li.compare-oecd { background-color: #00f; border: 1px solid #00f; }
	}

	.x-axis {
		.row2 li.hovered {
			background: #FFFAD4;
			border-radius: 0.5em 0.5em 0 0;
		}

		.row3 li.hovered {
			background: #FFFAD4;
			border-radius: 0 0 0.5em 0.5em;
		}
	}
}
