.h_bars { margin-left: 60px; }
.h_bar { line-height: 2em; height: 2em; }
.h_bars li.you span { background-color: #65DB65; }
.h_bars li.compare span { background-color: #dc3912; }
.h_bars li.you.bg span { background-color: #a3e9a3; }
.h_bars li.compare.bg span { background-color: #EFA17C; }
div.h-x-axis ol.row1, div.h-x-axis ol.row2, div.h-x-axis ol.row3 { padding: 0; }