@line-data-height: 275px;

.bn-compare-line {
	.longitudinal-lines {
		position: absolute;
		width: 100%;
		height: @line-data-height;
		margin-left: 60px;
	}
	
	.longitudinal-points {
		position: relative;
		bottom: 4px;
		pointer-events: none; /* Allow pointer events through to lines underneath. */
	}
	
	.longitudinal-points li.compare:before {
		color: #DC3912;
		z-index: 99;
	}
	
	.points li { position: absolute; margin: 0; padding: 0; text-align: center; }
	.points li:before { content: "◆"; font-size: 1.5em; color: #ccc; z-index:90; position: relative; }
	.points li span { display: none; }
	
	.points li.you:before { z-index: 9000000; color: #65DB65; }
	.points li.compare:before { z-index: 8000000; color: #dc3912; }
	.points li.you_schools:before { z-index: 7000000; color: #555; }
	.points li.compare_schools:before { z-index: 6000000; color: #bbb; color: rgba(190, 190, 190, 0.4); font-size: 1.25em; }
	.points li.cohort-grade-6:before { z-index: 9000000; color: #712F0A; }
	.points li.cohort-grade-7:before { z-index: 8000000; color: #E9681B; }
	.points li.cohort-grade-8:before { z-index: 7000000; color: #65DB65; }
	.points li.cohort-grade-9:before { z-index: 6000000; color: #FFB600; }
	.points li.cohort-grade-10:before { z-index: 5000000; color: #3359BA; }
	
	@media screen and (min-width: 900px) {
		.longitudinal-lines { margin-right: 160px; }
	}
	
	line { stroke: rgba(210, 210, 210, 0.2); }
	
	line.you { stroke: #65DB65; }
	line.compare { stroke: #dc3912; }
	line.you_schools { stroke: #555; }
	line.cohort-grade-6 { stroke: #712F0A; }
	line.cohort-grade-7 { stroke: #E9681B; }
	line.cohort-grade-8 { stroke: #65DB65; }
	line.cohort-grade-9 { stroke: #FFB600; }
	line.cohort-grade-10 { stroke: #3359BA; }
										
	/* Line Hover Effects */
	.point.hovered:before {
		z-index: 9999999999999 !important;
		text-shadow: #FFFAD4 0 0 2px, #FFFAD4 0 -2px 1px, #FFFAD4 0 2px 1px, #FFFAD4 -2px 0 1px, #FFFAD4 2px 0 1px;
		color: #000 !important;
	}
	
	.point {
		pointer-events: all;
	}
	
	.point.hovered span,
	.point:hover span {
		display: inline;
		position: absolute;
		background: #FFFAD4;
		float: left;
	}
	
	/* Disable hover effects on national points */
	.points li.compare_schools span { display: none !important; }

	line.hovered {
		stroke-width: 4px;
	}
	
	.y-axis {
		height: @line-data-height;
	}
}

.bn-compare-line-x-axis {
	.you { color: #65DB65; }
	.compare { color: #dc3912; }
	.cohort-grade-6 { color: #712F0A; }
	.cohort-grade-7 { color: #E9681B; }
	.cohort-grade-8 { color: #65DB65; }
	.cohort-grade-9 { color: #FFB600; }
	.cohort-grade-10 { color: #3359BA; }
}

/* Disable hover on pre-2015 reports */
.year-2011, .year-2012, .year-2013, .year-2014 {
	.bn-compare-line {
		.point.hovered.last span {
			display: none !important;
		}
	}
}
