@line-data-height: 275px;

.bn-compare-line {
	.longitudinal-lines {
		position: absolute;
		width: 100%;
		height: @line-data-height;
		margin-left: 60px;
	}
	
	.longitudinal-points {
		position: relative;
		bottom: 4px;
		pointer-events: none; /* Allow pointer events through to lines underneath. */
	}
	
	.longitudinal-points li.compare:before {
		color: #DC3912;
		z-index: 99;
	}
	
	.points li { position: absolute; margin: 0; padding: 0; text-align: center; }
	.points li:before { content: "◆"; font-size: 1em; color: #ccc; z-index:90; position: relative; }
	.points li span { display: none; }
	
	.points li.you:before { z-index: 9000000; color: #65DB65; font-size: 1.5em; }
	.points li.compare:before { z-index: 8000000; color: #dc3912; font-size: 1.5em; }
	.points li.you_schools:before { z-index: 7000000; color: #555; font-size: 1.5em; }
	.points li.compare_schools:before { z-index: 6000000; color: #bbb; color: rgba(190, 190, 190, 0.4); font-size: 1.25em; }
	
	@media screen and (min-width: 900px) {
		.longitudinal-lines { margin-right: 160px; }
	}
	
	line {
		stroke: rgba(210, 210, 210, 0.2);
	}
	
	line.you {
		stroke: #65DB65;
	}
	
	line.compare {
		stroke: #dc3912;
	}
	
	line.you_schools { stroke: #555; }
	
	/* Line Hover Effects */
	.point.hovered:before {
		z-index: 9999999999999 !important;
		text-shadow: #FFFAD4 0 0 2px, #FFFAD4 0 -2px 1px, #FFFAD4 0 2px 1px, #FFFAD4 -2px 0 1px, #FFFAD4 2px 0 1px;
		color: #000 !important;
	}

	.point.hovered.last span,
	.point:hover span {
		display: inline;
		position: absolute;
		background: #FFFAD4;
		float: left;
	}

	line.hovered {
		stroke-width: 4px;
	}
	
	.y-axis {
		height: @line-data-height;
	}
}

.bn-compare-line-x-axis {
	.you {
		color: #65DB65;
	}
	
	.compare {
		color: #dc3912;
	}
}
