.bn-compare-line {
	.longitudinal-lines {
		position: absolute;
		width: 100%;
		height: 200px;
		margin-left: 60px;
	}
	
	.longitudinal-points {
		position: absolute;
	}
	
	.longitudinal-points li.compare:before {
		color: #DC3912;
		z-index: 99;
	}
	
	.points li { position: absolute; margin: 0; padding: 0; text-align: center; }
	.points li:before { content: "◆"; font-size: 1.5em; color: #dc3912; z-index:90; }
	.points li.you:before { z-index: 100; color: #65DB65; }
	.points li span { display: none; }
	
	@media screen and (min-width: 900px) {
		.longitudinal-lines { margin-right: 160px; }
	}
	
	line {
		stroke: #ccc;
	}
	
	line.you {
		stroke: #65DB65;
	}
	
	line.compare {
		stroke: #dc3912;
	}
}

.bn-compare-line-x-axis {
	.you {
		color: #65DB65;
	}
	
	.compare {
		color: #dc3912;
	}
}
