.key-scatter li.you span {  color: #2f502f; }

.scatter {
	.points li.you::before { color: #2f502f; }
	
	/* Y-axis consistent areas have the same height, their children have height: 100% */
	.y-axis,
	.plot {
		height: 250px;
	}
	
	.plot {
		position: relative;
	}
	
	/* Percentage-accurate canvasses inside .plot overlap and fill all the available space */
	.plot .points,
	.plot .lines {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	
	.points li { position: absolute; margin: 0; padding: 0; text-align: center; }
	.points li:before { content: "◆"; font-size: 1.5em; color: #ccc; z-index:90; }
	.points li.you:before { z-index: 100; }
	.points li span { display: none; }
	
	.lines {
		z-index: 80;
	}
	
	/* Individual line styling */
	.lines .line {
		border: 1px solid red;
		margin: 0;
		padding: 0;
		width: 100%;
		position: absolute;
	}
	.lines .line span { display: none; }
	
	.line.national { background-color: #dc3912; }
	
	@media screen and (min-width: 900px) {
		margin-right: 160px;
		
		.lines { margin-right: 160px; }
	}
}
