/*	Vísar - Konnun - mobile.less
========================================= */

	
	@media only screen and (max-width: 480px) {
		footer .logo { width: 156px; height: 42px; margin-right: auto; margin-left: auto; float: none; }
		#survey-form textarea { width: 266px; margin: 0 auto; }
		body #survey-form [name=finish] {
			margin-left: 0;
		}		
	}
