/*	Vísar - Konnun - mobile.less
========================================= */

@media only screen and (max-width: 480px) {
	footer .logo { width: 156px; height: 42px; margin-right: auto; margin-left: auto; float: none; }
	#survey-form textarea { width: 266px; margin: 0 auto; }
	body #survey-form [name=finish] {
		margin-left: 0;
	}
	
	.languages {
		display: block;
		width: 100%;
		clear: left;
		text-align: center;
		margin-bottom: 2em !important;
		margin-top: 1em !important;
		position: static !important;
	}
	
	.languages a {
		margin: 0px 0.3em 0px 0.3em !important;
	}
}
