/*	Vísar - Konnun - tablet.less
========================================= */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
    
    
    	h1 { font-size: 48px; line-height: 48px; margin-bottom: 21px; letter-spacing: -2px; }
    
    	textarea { width: 730px; }
    
    }
    