/*	Vísar - Konnun - web.less
========================================= */

/* Global */
.container			{ width: 1040px; margin: 0px auto; }
.text-center		{ text-align: center; }
.container:after 	{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.center			{ margin-left: auto; margin-right: auto; }

/* App */
@font-face {
	font-family: 'VisarPies';
	src: url('../webfonts/VisarPies.eot');
	src: url('../webfonts/VisarPies.eot?#iefix') format('embedded-opentype'), 
	url('../webfonts/VisarPies.woff') format('woff'),
	url('../webfonts/VisarPies.ttf') format('truetype');
}

html, body { height: 100%;}
body { background-color: @greenLight; }

a object[type="image/svg+xml"],
button object[type="image/svg+xml"] { pointer-events: none; }

/* Structure IDs & Classes */

#wrap { min-height: 100%; }

header { width: 100%; min-height: 48px; }
#header { height: 48px; display: block; background: @greenLight; }
#header #progress { width: 200px; position: relative; top: 12px; left: 15px; float: left; font-family: AvenirNextLTPro-Demi; text-align: left; }
#header #progress span { width: 200px; margin-left: 5px; }
#header .languages { float: right; position: relative; top: 12px; right: 10px; padding: 4px; margin: 0 1em 0 0; padding: 0; }
#header .languages a { margin-left: 15px; }

#content { text-align: center; overflow:auto; padding-bottom: 65px; /* must be same height as the footer */ } 

footer { width: 100%; clear:both; text-align: right;  }	
footer .logo { width: 156px; height: 42px; padding-right: 30px; padding-bottom: 30px; }


/* Survey */

#survey-form { max-width: 860px; margin: auto; text-align: left; }
#survey-form textarea	{ width: 830px; }

#survey-form .done-image {
	height: 1em;
	position: relative;
	bottom: -0.2em;
}

#survey-form button[type="submit"] {
    height: 3em;
    width: 6em;
    padding: 0.5em;
}

#survey-form [name=back] {
	margin-right: 0.5em;
}

body #survey-form [name=finish] {
	margin-left: 150px;
	width: 8em;
}

#survey-form .pagination {
	text-align: center;
}

#survey-form .pagination .button_container {
	width:50%; 
	text-align: left; 
	float: left
}

#survey-form .pagination .button_container.back {
	text-align: right; 
}

#survey-form h1 { font-size: 1.1em; line-height: 1.3em; margin-bottom: 18px; }


.instructions { 
white-space: pre-wrap; 
font-size: 1.3em;
line-height: 1.2em;
font-weight: bold;
padding-bottom: 20px;
}


.choice-target { margin-bottom: 0.5em; display: block; background: @white; border: #ccc 1px solid; cursor: pointer; }

.no-touch .choice-target:hover,
.choice-target.selected { background: #CDC9C9; }

.checkbox-target, .radio-target { padding: 0.5em; display: block; cursor: pointer; }
.checkbox-optional-target, .radio-optional-target { padding: 0.5em; }

.checkbox.collapse h1,
.collapse .instructions	{ display: none; }

.question { padding-top: 2em; }
.question:first-of-type { padding-top: 0; }

.question.collapse { margin-top: 0.5em; }
.question.checkbox.collapse { padding-top: 0; }

.correction-instructions {
	display: none;
	padding: 10px 10px 10px 20px;
	font-family: 'AvenirNextLTPro-Demi';
	text-shadow: @text-shadow-on-dark;
	color: @white;
	background-color: @red;
	margin-bottom: @base-margin;
	border-radius: @base-border-radius;
}

.invalid .correction-instructions { display: block; }

.choice-target span {
	font-size: 0.9em;
	margin-left: 0.1em;
}

input.optional-text {
	display: inline;
	margin: 0.5em 0 0.5em 10px;
	padding: 0;
}

body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

::selection {
	background: none; /* Safari */
	}
::-moz-selection {
	background: none; /* Firefox */
}

.greetings { 
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2em;
    padding-bottom: 20px;
    white-space: pre-wrap;
}

/* SKOLAPULSINN GREEN */
.-white-sp {background-color:#80c860}
.-white-sp .choice-target { background-color: #D4E8C1; border: 1px solid #D4E8C1; }
.-white-sp .choice-target.selected, .-white-sp .choice-target:hover, .-white-sp .no-touch  .choice-target:hover { background-color: #FEFCD7; }

.-white-sp #header { background: none; }
.-white-sp button, .-white-sp input[type="button"] { background-color: #007711; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F; }
.-white-sp button:hover, .-white-sp input[type="button"]:hover  { background-color: #005511; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}
.-white-sp button:active, .-white-sp input[type="button"]:active { background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;}

