$color1: #EF4323;
    $color1_light: lighten($color1, 15%);
    $color1_dark: darken($color1, 25%);

    @function color1_rgba($alpha: 0.2) {
      $color: rgba(239, 67, 35, $alpha);
      @return $color;
    }

$color2: #666;
    $color2_light: lighten($color2, 25%);
    $color2_dark: darken($color2, 5%);

$color3: #7088A1;
    $color3_light: lighten($color3, 25%);
    $color3_dark: darken($color3, 5%);


$color_success: #93B410;
$color_error: #c00;