@import "config";

form {
    label {
        display: block;
        cursor: pointer;
        cursor: hand;
    }


    input[type=text],
    input[type=date],
    input[type=url],
    input[type=email],
    input[type=number],
    input[type=password],
    textarea {
        padding: 0.5em 0.4em 0.4em;
        border: 1px solid $color2_dark;
        font: inherit;
        width: 100%;
        display: block;
        max-width: 500px;

        &:focus {
            border-color: $color1;
            outline: 0;
            color: $color1;
        }
    }
    input[type=checkbox],
    input[type=radio] {
        cursor: pointer;
        cursor: hand;
    }

    .form-actions {
        line-height: 3;
    }

    fieldset {
        border: none;
        padding-bottom: 2em;

        legend {
            padding: 0.25em .4em 0.1em;
            background: rgba(0,0,0,0.06);
            text-transform: uppercase;
            font-size: 0.7em;
            margin: 1em 0;
            color: #888;
        }
    }

    .buttons {
        padding: 1em 0;
    }
}
