@import "config";

.tabs {

    li {
        list-style-type: none;
        margin: 0;
    }

    .tabs--triggers {
        font-size: 0;
        border-bottom: 4px solid $color1;
        li {
            display: block;
            float: left;
            font-size: 16px;
            font-size: 1rem;
            vertical-align: top;
        }
        a {
            display: inline-block;
            padding: 1em 2em 0.7em;
            background-color: white;
            text-transform: uppercase;
            color: $color1;

            &:focus,
            &:hover {
                background-color: $color1_dark;
                color: white;
            }
        }
        .active {
            a {
                background-color: $color1;
                color: white;
            }
        }
    }

    .tabs--content {
        margin-bottom: 1em;

        li {
            display: none;
            background-color: white;
            padding: 1.5em 2em;
        }
        :target,
        .active {
            display: block;
        }
    }
}

.js-ready {
    .tabs--content {
        :target {
            display: none;
        }
        .active {
            display: block;
        }
    }        
}
