/* Fonts not currently hosted on konnun */
@font-face{
    font-family:'AvenirNextLTPro-Demi';
    src:url('/webfonts/26E8D5_3_0.eot');
    src:url('/webfonts/26E8D5_3_0.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/26E8D5_3_0.woff') format('woff'),
        url('/webfonts/26E8D5_3_0.ttf') format('truetype');
    }

    @font-face{
        font-family:'AvenirNextLTPro-Regular';
        src:url('/webfonts/26E8D5_4_0.eot');
        src:url('/webfonts/26E8D5_4_0.eot?#iefix') format('embedded-opentype'),
            url('/webfonts/26E8D5_4_0.woff') format('woff'),
            url('/webfonts/26E8D5_4_0.ttf') format('truetype');
        }
@font-face{
    font-family:'VisarPies';
    src:url('/webfonts/VisarPies.eot');
    src:url('/webfonts/VisarPies.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/VisarPies.woff') format('woff'),
        url('/webfonts/VisarPies.ttf') format('truetype');
}

body,
.tagline,
h3, .h3,
.signup-links .rock,
.contact-details.t-mini .contact--actions--group,
input,
input[type="file"],
.csv-preview-table .empty,
.csv-preview-table thead .help {
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav a,
strong,
b,
h1, .h1,
h2, .h2,
h4, .h4,
h5, .h5,
h6, .h6,
.signup-links a,
.errorlist li,
.list-of--subtitle,
.message--extra-info h3,
.message--extra-info h4,
.subscription--credit--value,
.csv-preview-table th,
.messages {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-weight: 400;
    font-style: normal;   
}
