/*	Vísar - Ops - web.less
================================================== */

body {
	background: @greenLight;
}

header {
	background: #80C860;
	width: 100%;
	min-height: 65px;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid @greenLightBorder;
}

#header {
	height: 65px;
}

#header .logo {
	width: 156px;
	height: 42px;
	float: left;
	position: relative;
	top: 10px;
	left: 15px;
	display: block;
}

#header nav {
	float: right;
	font-size: 30px;
	font-family: @text-font-family;
	margin: 0.3em;
}

#content {
	padding-bottom: 100px;
	background: @white;
}
