/* Messages - Error, Warning, Debug, Info, Success */

#messages li {
	padding: 10px 10px 10px 20px;
	list-style: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	background-color: #ccc;
}

#messages span.message-text a, #messages span.message-text a:visited, #messages span.message-text a:hover {
	color: #fff;
	text-decoration: underline;
}

#messages .message-close {
	cursor: pointer;
	float: right;
	display: block;
	background: #e2e8e3;
	color: #333333;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	padding: 2px 10px;
	font-size: 12px;
	border-radius: 4px;
	margin: 4px 10px;
}

#messages .message-close:hover {
	background: #b0b1b2;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);		
}

#messages .error   { background-color: var(--error-color); }
#messages .warning { background-color: var(--warning-color); }
#messages .debug   { background-color: var(--warning-color); }
#messages .info    { background-color: var(--warning-color); }
#messages .success { background-color: var(--success-color); }
