/* Messages - Error, Warning, Debug, Info, Success */

#messages li {
	margin: 10px  auto 0 auto;
	padding: 10px 10px 10px 20px;
	list-style: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	background-color: #b0b1b2;
	max-width: 1040px;
	border-radius: 20px;
}

#messages span.message-text {
	width: 90%;
	padding-top: 3px;
	display: block;
	float: left;
	text-align: left;
}

#messages span.message-text a, #messages span.message-text a:visited, #messages span.message-text a:hover {
	color: #fff;
	text-decoration: underline;
}

#messages .message-close {
	cursor: pointer;
	float: right;
	display: block;
	background: #e2e8e3;
	color: #333333;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	padding: 2px 10px;
	font-size: 12px;
	border-radius: 4px;
	margin: 4px 10px;
}

#messages .message-close:hover {
	background: #b0b1b2;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);		
}

#messages .error   { background-color: #C94D35; }
#messages .warning { background-color: #826f69; }
#messages .debug   { background-color: #7ba2a7; }
#messages .info    { background-color: #7ba2a7; }
#messages .success { background-color: rgb(105, 193, 128); }
