:root .skolapulsinn {
  --button-primary-color: #007711;
  --button-primary-color-hover: #005511;
}



/* SKOLAPULSINN GREEN */
/*
.-white-sp,
.-white-st {background-color:#80c860}
.hi, .rvk {background-color:#fefefe}
.hi footer, .sfs footer, .rvk footer { text-align: center; }

.hi button  { background-color: rgb(12,0,140)}
.rvk button { background-color: rgb(12,0,140)}


.-white-sp .choice-target,
.-white-st .choice-target  { background-color: #D4E8C1; outline: 1px solid #D4E8C1; }

.-white-sp .choice-target.selected,
.-white-sp .choice-target:hover,
.no-touch .-white-sp .choice-target:hover,
.-white-st .choice-target.selected,
.-white-st .choice-target:hover,
.no-touch .-white-st .choice-target:hover { background-color: #FEFCD7; -webkit-transition: all 0.1s linear;  }

.-white-sp #header,
.-white-st #header  { background: none; }

.-white-sp a, .-white-sp a:visited, .-white-st a, .-white-st a:visited  { color: #005511 }



	.rvk .global-speech-toggle-button,
	.rvk .global-speech-toggle-button:hover,
	.rvk .global-speech-toggle-button:active,
	.-white-sp .global-speech-toggle-button,
	.-white-sp .global-speech-toggle-button:hover,
	.-white-sp .global-speech-toggle-button:active,
	.-white-st .global-speech-toggle-button,
	.-white-st .global-speech-toggle-button:hover,
	.-white-st .global-speech-toggle-button:active {
		background: none repeat scroll 0% 0% transparent;
		background-color: none;
		border: medium none;
		box-shadow: none;
		width: 1.5em;
		padding: 0px;
		vertical-align: middle;
		margin-right: 0.5em;
		margin-bottom: 4px;
	}
*/




	/* Green Primary */
	/*
	.-white-sp .button,
	.-white-sp .button-primary,
	.-white-sp button,
	.-white-sp input[type="submit"],
	.-white-sp input[type="reset"],
	.-white-sp input[type="button"],
	.-white-st .button,
	.-white-st .button-primary,
	.-white-st button,
	.-white-st input[type="submit"],
	.-white-st input[type="reset"],
	.-white-st input[type="button"]
	 {
		background-color: #007711; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;
		text-decoration: none;
	}
	.-white-sp .button:visited,
	.-white-sp .button-primary:visited,
	.-white-st .button:visited,
	.-white-st .button-primary:visited
	 {
		background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;
		text-decoration: none;
	}
	.-white-sp .button:hover,
	.-white-sp .button-primary:hover,
	.-white-sp button:hover,
	.-white-sp input[type="submit"]:hover,
	.-white-sp input[type="reset"]:hover,
	.-white-sp input[type="button"]:hover,
	.-white-st .button:hover,
	.-white-st .button-primary:hover,
	.-white-st button:hover,
	.-white-st input[type="submit"]:hover,
	.-white-st input[type="reset"]:hover,
	.-white-st input[type="button"]:hover
	 {
		background-color: #005511; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;
		text-decoration: none;
	}
	.-white-sp .button:active,
	.-white-sp .button-primary:active,
	.-white-sp button:active,
	.-white-sp input[type="submit"]:active,
	.-white-sp input[type="reset"]:active,
	.-white-sp input[type="button"]:active,
	.-white-st .button:active,
	.-white-st .button-primary:active,
	.-white-st button:active,
	.-white-st input[type="submit"]:active,
	.-white-st input[type="reset"]:active,
	.-white-st input[type="button"]:active,
	 {	
		background-color: #004411; border-left: 1px solid #418223; border-top: 1px solid #418223;  border-right: 1px solid #22692F; border-bottom: 1px solid #22692F;
		text-decoration: none;
	}
	*/

/* Green Primary */
/*
	.rvk .button,
	.rvk .button-primary,
	.rvk button,
	.rvk input[type="submit"],
	.rvk input[type="reset"],
	.rvk input[type="button"]
	 {
		background-color: #0367E1; border-left: 1px solid #348efc; border-top: 1px solid #348efc;  border-right: 1px solid #0250af; border-bottom: 1px solid #0250af;
		text-decoration: none;
	}
	.rvk .button:visited,
	.rvk .button-primary:visited
	 {
		background-color: #0367E1; border-left: 1px solid #348efc; border-top: 1px solid #348efc;  border-right: 1px solid #0250af; border-bottom: 1px solid #0250af;
		text-decoration: none;
	}
	.rvk .button:hover,
	.rvk .button-primary:hover,
	.rvk button:hover,
	.rvk input[type="submit"]:hover,
	.rvk input[type="reset"]:hover,
	.rvk input[type="button"]:hover
	 {
		background-color: #0373fa; border-left: 1px solid #348efc; border-top: 1px solid #348efc;  border-right: 1px solid #0250af; border-bottom: 1px solid #0250af;
		text-decoration: none;
	}
	.rvk .button:active,
	.rvk .button-primary:active,
	.rvk button:active,
	.rvk input[type="submit"]:active,
	.rvk input[type="reset"]:active,
	.rvk input[type="button"]:active
	 {	
		background-color: #0367e1; border-left: 1px solid #348efc; border-top: 1px solid #348efc;  border-right: 1px solid #0250af; border-bottom: 1px solid #0250af;
		text-decoration: none;
	}



.-white-sp .speech-button,
.-white-sp .speech-button:hover,
.-white-sp .speech-button:active,
.-white-st .speech-button,
.-white-st .speech-button:hover,
.-white-st .speech-button:active {
	padding: 0.5em;
	padding-bottom: 0.2em;
	background: #90d173;
	border-color: #439753;
	box-shadow: none;
	width: 3em !important;
	position: absolute;
	left: -4em;
}

.sfs .speech-button,
.sfs .speech-button:hover,
.sfs .speech-button:active,
.rvk .speech-button,
.rvk .speech-button:hover,
.rvk .speech-button:active
 {
	background: #0367E1;
	border-color: #0250af;
}
.sfs .speech-button img, .rvk .speech-button img {
	filter: invert(1);
}
*/

/*
@media only screen and (max-width: 1020px) {
	.global-speech-toggle-button,
	.global-speech-toggle-button:hover,
	.global-speech-toggle-button:active,
	.-white-sp .global-speech-toggle-button,
	.-white-sp .global-speech-toggle-button:hover,
	.-white-sp .global-speech-toggle-button:active,
	.-white-st .global-speech-toggle-button,
	.-white-st .global-speech-toggle-button:hover,
	.-white-st .global-speech-toggle-button:active {
		left: 0.45em !important;
	}
	
	#content .speech-button,
	#content .speech-button:hover,
	#content .speech-button:active,
	#content .-white-sp .speech-button,
	#content .-white-sp .speech-button:hover,
	#content .-white-sp .speech-button:active,
	#content .-white-st .speech-button,
	#content .-white-st .speech-button:hover,
	#content .-white-st .speech-button:active {
		left: -3.2em !important;
		width: 2.5em !important;
	}

	#content .choice-image .speech-button,
	#content .choice-image .speech-button:hover,
	#content .choice-image .speech-button:active,
	#content .-white-sp .choice-image .speech-button,
	#content .-white-sp .choice-image .speech-button:hover,
	#content .-white-sp .choice-image .speech-button:active,
	#content .-white-st .choice-image .speech-button,
	#content .-white-st .choice-image .speech-button:hover,
	#content .-white-st .choice-image .speech-button:active {
		left: .2em !important;
		width: 2.5em !important;
	}
	
	.speech-active .question {
		padding-left: 3em;
	}

}
*/
