:root {
  --success-color: rgb(0, 255, 186);
  --warning-color: rgb(250, 197, 91);
  --error-color: rgb(252, 132, 132);
  --label-color: rgb(28, 28, 28);

  --background-color: rgb(252, 252, 252);
  --subhead-color: rgb(119, 119, 119);

  --form-text-color: #666666;
  --form-background-color: rgb(249, 249, 249);;
  --form-background-color-hover: #D3D3D3;
  --form-border-color: #D3D3D3;

  --form-border-focus-color: #666666;
  --form-text-focus-color: #333333;

  --button-primary-text-color: #ffffff;
  --button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  --button-primary-color: #10099F;
  --button-primary-color-hover: #5752BB;
}



@media (prefers-color-scheme: dark) {
  :root {
  --success-color: rgb(0, 255, 186);
  --warning-color: rgb(250, 197, 91);
  --error-color: rgb(252, 132, 132);
  --label-color: rgb(28, 28, 28);

  --background-color: rgb(3, 3, 3);
  --subhead-color: #888888;

  --form-text-color: #999999;
  --form-background-color: #060606;
  --form-background-color-hover: #2c2c2c;
  --form-border-color: #2c2c2c;

  --form-border-focus-color: #999999;
  --form-text-focus-color: #cccccc;

  --button-primary-text-color: #000;
  --button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  --button-primary-color: #10099F;
  --button-primary-color-hover: #5752BB;

  }
}

