:root {
  --success-color: rgb(0, 255, 186);
  --warning-color: #BF125D;
  --error-color: rgb(252, 132, 132);
  --label-color: rgb(28, 28, 28);

  --positive-color: #0B0;
  --negative-color: #D00;


  --background-color: rgb(252, 252, 252);
  --subhead-color: rgb(119, 119, 119);
  --subbox-background-color: #EEE;

  --link-color: #10099F;
  --link-color-hover: #5752BB;

  --table-row-hover: #fbf8e9;
  --table-cell-alt-color: #f5f5f5;
  --table-cell-header-color: #f5f5f5;

  --form-text-color: #666666;
  --form-background-color: rgb(249, 249, 249);;
  --form-background-color-hover: #D3D3D3;
  --form-border-color: #D3D3D3;

  --form-border-focus-color: #666666;
  --form-text-focus-color: #333333;

  --button-primary-text-color: #ffffff;
  --button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  --button-primary-color: #10099F;
  --button-primary-color-hover: #5752BB;
}



@media (prefers-color-scheme: dark) {
  :root {
  --success-color: rgb(0, 255, 186);
  --warning-color: rgb(250, 197, 91);
  --error-color: rgb(252, 132, 132);
  --label-color: #e6e3e3;

  --positive-color: #5ed25e;
  --negative-color: #eb3e3e;

  --link-color: #9b96ec;
  --link-color-hover: #d4d3fe;

  --background-color: #333333;
  --subhead-color: #888888;
  --subbox-background-color: #3f3f3f;

  --table-row-hover: #202020;
  --table-cell-alt-color: #404040;
  --table-cell-header-color: #f5f5f5;

  --form-text-color: #999999;
  --form-background-color: #2c2c2c;
  --form-background-color-hover: #060606;
  --form-border-color: #060606;

  --form-border-focus-color: #999999;
  --form-text-focus-color: #cccccc;

  --button-primary-text-color: #fff;
  --button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);




  }

  .pause-button, .speech-button img, .global-speech-toggle-button img {
    filter: invert(1);
    opacity: 0.85;
  }
}

