.bar-chart .data .bar { position: absolute; bottom: 0; margin: 0; padding: 0; background-color: #ccc; text-align: center;}
.bar-chart .data .bar span { display: none; }

.bar-chart .data li { box-sizing: border-box; border-radius: 6px 6px 0 0; }
.bar-chart .data li.you { background-color: #65DB65; border: 1px solid #65DB65; }
.bar-chart .data li.compare { background-color: #dc3912; border: 1px solid #dc3912; }
.bar-chart .data li.you.bg { background-color: #a3e9a3; border: 1px solid #a3e9a3; }
.bar-chart .data li.compare.bg { background-color: #EFA17C; border: 1px solid #EFA17C; }
.bar-chart .data li.compare-oecd { background-color: #00f; border: 1px solid #00f; }

.bar-chart .x-axis .row2 li.hovered,
.bar-chart .x-axis .row2 li.toggled {
	background: var(--key-hover-color);
	border-radius: 0.5em 0.5em 0 0;
    transition: background 0.5s;
}

.bar-chart .x-axis .row3 li.hovered,
.bar-chart .x-axis .row3 li.toggled {
	background: var(--key-hover-color);
	border-radius: 0 0 0.5em 0.5em;
    transition: background 0.5s;
    outline: 1px solid var(--key-hover-color-border);
}


/* Bar chart legends currently have no data-hoverclass attribute. */
.bar-chart .key  ul li:hover {
	background: var(--key-hover-color);
    transition: background 0.5s;
}
