.chart.is-muni-map-chart {
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}
.chart.is-muni-map-chart .title { grid-column: 1; }
.chart.is-muni-map-chart .muni-map {
	grid-column: 1;
	grid-row: 2;
}
.chart.is-muni-map-chart .legend {
	grid-column: 1;
	grid-row: 3;
}
