.key-scatter li.you span { color: #2f502f; }
.key-scatter li.you_line span { color: #00f; }

.scatter .key {
	.hidden { display: none; }
	.hidden.hovered { display: block; }
}

.scatter .data {
	position: relative;
	height: 20em;
}

.scatter .data .points {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 90;
	pointer-events: none;
}

.scatter .data .points .point {
	position: absolute;
	pointer-events: initial;
	margin: 0;
	padding: 0;
	text-align: center;
}

.scatter .data .points .point .dot {
	width: 0.7em;
	height: 0.7em;
	background: #ccc;
	transform: translate(-0.25em, 0.25em) rotate(45deg);
	z-index: 10;
}

/* Point styles */
.scatter .data .points .point.you {
	z-index: 20;
	.dot { background: #555; }
}

.scatter .data .points .point.compare,
.scatter .data .points .point.compare_schools {
	z-index: 5;
	.dot { background-color: rgba(190, 190, 190, 0.4); width: 0.6em; height: 0.6em; transform: translate(-0.2em, 0.2em) rotate(45deg); }
}

.scatter .data .hover-content {
	position: absolute;
	height: 100%;
	width: 100%;
}
.scatter .data .hover-content .hover-box {
	position: absolute;
	z-index: 999999999999999999;
	background: var(--key-hover-color);
	font-size: .8em;
	border-radius: 0.5em;
	padding: 0.5em;
	text-align: center;
}


.scatter .data .lines {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 80;
}
.scatter .data .lines .line {
	border: solid red;
	border-width: 1px 0 0 0;
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
}
.scatter .data .lines .line.overlapping { border-style: dashed; }

.scatter .data .lines .line span { display: none; }

.scatter .data .lines .line.hover-area {
	border: solid 5px rgba(0, 0, 0, 0) !important;
}

/* Individual line styling */
.scatter .data .lines .line.you { border-color: #00f; }
.scatter .data .lines .line.compare-oecd { border-color: #00f; }

.scatter .data .lines .line.compare-iceland,
.scatter .data .lines .line.compare-nordic { border-color: #00c500; }

.scatter.hovered .data .lines .line:not(.hovered, .toggled), .scatter.toggled .data .lines .line:not(.hovered, .toggled) {
	opacity: 0.3;
}

.scatter.hovered .data .lines .line.hovered, .scatter.toggled .data .lines .line.hovered,
.scatter.hovered .data .lines .line.toggled, .scatter.toggled .data .lines .line.toggled {
	border-bottom-width: 1px;
	z-index: 999999999999;
}

.scatter.hovered .data .points .point:not(.hovered, .toggled):not(.compare_schools), .scatter.toggled .data .points .point:not(.hovered, .toggled):not(.compare_schools) {
	opacity: 0.3;
}

.scatter.hovered .data .points .point.hovered, .scatter.toggled .data .points .point.hovered,
.scatter.hovered .data .points .point.toggled, .scatter.toggled .data .points .point.toggled {
	z-index: 999999999999;
}



/* Disable hover on pre-2015 reports */
.year-2011 .scatter .points li.you:hover span, .year-2012 .scatter .points li.you:hover span, .year-2013 .scatter .points li.you:hover span, .year-2014 .scatter .points li.you:hover span {
	display: none !important;
}

.year-2011 .scatter .points li.you:hover::before, .year-2012 .scatter .points li.you:hover::before, .year-2013 .scatter .points li.you:hover::before, .year-2014 .scatter .points li.you:hover::before {
	z-index: auto;
	font-size: auto;
}
	

