.chart {
	width: 100%;
	display: grid;
	grid-template-columns: min-content auto 1fr;
	grid-template-rows: auto auto auto auto;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
.chart ol, .chart ul, .chart li { padding: 0; margin: 0; list-style-type: none; }

.chart .title {
	grid-column: 1 / span 2;
	padding: 1em 1em 0 1em;
	text-align: center;
	font-size: 120%;
}

.chart .data {
	grid-column: 2;
	grid-row: 3;
	height: 13em;  /* default chart data height */
	max-width: 90vw;  /* Some charts (e.g. bar) set their nominal data width in inline styles. Cap this at 90% of the screen width. */
	font-size: 80%;
	position: relative;
}

.chart .data .y-axis-lines {
	display: flex;
	position: absolute;
	flex-direction: column-reverse;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.chart .data .y-axis-lines li {
	width: 100%;
	height: 0px;
	border-bottom: 1px var(--y-axis-line-color) solid;
}

.chart  .key {
	grid-column: 2;
	grid-row: 2/span 3;
	padding: 0.5em 0 1em 0;
	font-size: 0.9em;
}
.chart  .key ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
} 
.chart .key ul li {
	margin-right: 1em;
	padding: 0.1em 0.5em;
	border-radius: 0.5em;
}
.chart .key ul li.hovered[data-hoverclass],
.chart .key ul li.toggled[data-hoverclass],
.chart .key ul li[data-hoverclass]:hover {
	background: #FFFAD4;
	cursor: pointer;
}

.chart .key ul li .toggled {
	font-weight: bold;
	letter-spacing: -0.5px;
}

.chart  .x-axis {
	grid-column: 2;
	grid-row: 4;
	font-size: 80%; /* Font size must be 80% to match .data */
	max-width: 90vw;  /* Some charts (e.g. bar) set their nominal data width in inline styles. Cap this at 90% of the screen width. */
}
.chart  .x-axis ol.x-axis-row {
	width: 100%;
	display: flex;
}

.chart  .x-axis ol.x-axis-row li {
	vertical-align: top;
	color: #666;
	padding: 0 0.1em;
	box-sizing: border-box;
	text-align: center;
}

.chart  .x-axis .row1 li {
	color: #333;
	overflow-wrap: break-word;
	hyphens: auto;
}

.chart  .x-axis .row1,
.chart  .x-axis .row2 { font-size: 1em; }
.chart  .x-axis .row3 { font-size: 0.8em; }

.chart .error-message {
	grid-column: 2;
	grid-row: 3;
	min-width: 20em;

	text-align: center;
	font-size: 0.77em;
	color: #888;
}
	
.chart .y-axis {
	grid-row: 3;
	grid-column: 1;

	color: var(--y-axis-label-color);
	text-align: right;
	font-size: 0.9em;
}
.chart .y-axis ol {
	position: relative;
	height: 100%;
}
.chart .y-axis ol li {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0 0.5em 0 0;
}

.chart.no-key .title {
	padding-bottom: 1em;
}


/* On particularly large charts, bump the text size down a little and move the legend above the chart */
.wide-chart .x-axis .row1 { font-size: 0.9em !important; }
.wide-chart .x-axis .row2 { font-size: 0.8em !important; }

@media screen and (min-width: 40em), print {
	.chart .title {
		grid-column: span 3;
		grid-row: 1;	
	}

	.chart.wide-chart .title {
		padding: 0.5em 1em 0 1em;
	}
		

	.chart:not(.wide-chart) {
		grid-template-columns: min-content min-content auto 1fr;
		grid-template-rows: auto auto auto;
	}
	.chart:not(.wide-chart) .title {
		padding: 1em;
	}

	.chart:not(.wide-chart) .data, .chart:not(.wide-chart) .error-message {
		grid-column: 2;
		grid-row: 2;
	}

	.chart:not(.wide-chart) .key {
		grid-column: 3;
		grid-row: 2/span 3;
	}
	.chart:not(.wide-chart) .key ul {
		flex-direction: column;
		margin-left: 1em;
	}

	.chart:not(.wide-chart) .y-axis {
		grid-row: 2;
		grid-column: 1;
	}
}
