:root {
  --key-hover-color: #FFFAD4;
  --key-hover-color-border: #d7c64e;
  --x-axis-label-color: #333;
  --y-axis-label-color: #333;
  --y-axis-line-color: #ddd;

}



@media (prefers-color-scheme: dark) {
  :root {
    --key-hover-color: #252525;
    --key-hover-color-border: #000;
    --x-axis-label-color: #969696;
    --y-axis-label-color: #969696;
    --y-axis-line-color: #525252;


  }

}

