:root {
  --key-hover-color: #FFFAD4;
  --y-axis-label-color: #333;
  --y-axis-line-color: #ddd;

  --y-axis-label-color: #666;
}



@media (prefers-color-scheme: dark) {
  :root {
    --key-hover-color: #252525;
    --y-axis-label-color: #969696;
    --y-axis-line-color: #525252;


    --y-axis-label-color: #bbb;
  }

}

