body {
	background-image: none;
}

body header {
	background-image: none;
}

body #header {
	background-color: var(--button-primary-color);
}

body #header ul li a, body #footer-info a  {
	color: #FFFFFF;
}

body footer {
	background-color: var(--button-primary-color);
	color: #fff;
}

/* Appears to be unused styling: th span { color: #80c860; }*/
nav li { color: #80c860; }

#header ul li button.logout 	{ color: #ffffff; }

#pdf-builder .collapse { color: #007711; }
