/*	Vísar - Ops - web.less
================================================== */

body {
	background: var(--background-color);
}

header {
	background: var(--button-primary-color);
	width: 100%;
	min-height: 65px;
	margin: 1em auto;
	border-radius: 10px;
	max-width: 1320px;
}

#header {
	height: 65px;
	padding: 0px;
}

#header .logo {
	height: 42px;
	float: left;
	position: relative;
	top: 10px;
	left: 15px;
	display: block;
}

#header nav {
	float: right;
	font-size: 30px;
	margin: 0.3em;
}

#content {
	padding-bottom: 100px;
	background: #fff;
}

a, a:visited { color: var(--link-color); }
a:hover { color: var(--link-color-hover); }


.collapsible {
	margin-bottom: 1.5em;
	clear: both;
}

.collapsible-header {
	max-width: 100%;
	background: #F7FAF7;
	border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	padding: 0.3em 0.3em 0px;
	cursor: pointer;
	border-bottom: #EEE 1px solid;
}

.collapsible.collapsed .collapsible-header {
	border-radius: 0.3em;
	border-bottom: none;
}

.collapsible-header .collapsible-name {
	display: inline;
	display: inline-block;
}

.collapsible-expanded-indicator {
	display: inline;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 0.2em;
}
.collapsible-expanded-indicator img {
	width: 100%;
}

.collapsible .collapsible-content {
	padding: 0.5em 1.5em 1em 1.5em;
	margin-top: 0;
	background: #FAFDFA;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
}

.collapsible.collapsed .collapsible-content {
	display: none;
}

#id_syntax {
	width: 100%;
}

.ticket-table tbody td {
	vertical-align: middle;
}





table { padding: 0.5em; width: 100%; }
			
			table th {
				font-weight: bold;
				border-bottom: #333 solid 1px;
			}
			
			table th,
			table td {
				padding: 0.5em;
			}
			
			.csv-preview-table {
				font-size: 0.6em;
			}
			
			.header-select {
				font-size: 1em;
				width: 100%;
			}
			
			input[type=text] {
				width: 25em;
			}
			.logout button, .logout button:hover, .logout button:active {
background: none;
border: none;
box-shadow: none;
padding: 0;
margin: 0;
text-shadow: none;
}
.inline-icon, .inline-icon img {
width: 1em;
height: 1em;
position: relative;
bottom: -0.3ex;
margin-right: .3ex;
vertical-align: baseline;
}
#header ul {
margin: 0 auto;
}
#header ul li {
float: right;
padding: 0 1em;
height: 63px;
line-height: 63px;
}

body footer {
background-color: var(--button-primary-color);
color: #fff;
}
footer {
padding: 1em 0;
border-radius: 10px;
max-width: 1320px;
margin: 0 auto;
margin-bottom: 20px;
}
footer .container {
	padding-top: 1em;
	max-width: 1320px;
	width: 100%;
}
nav a, nav a:hover, nav a:visited, nav a:focus, footer a, footer a:hover, footer a:visited, footer a:focus { color: #fff; font-size: 16px; }

		.error { background-color: #900; }
		.info, .warning { background-color: #c4c452; color: black; }

		#messages .message {
		padding: 1em;
		color: white;
		font-weight: bold;
		max-width: 1000px;
		margin: 0 auto;
		}

		#header {
			max-width: 1320px;
			margin: 0 auto;
			width: 100%;
		}