/* #Buttons
================================================== */
/* Primary */
.button,
.button-primary,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button:visited,
.button-primary:visited {	
	border: none;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	/* Font */
	color: var(--button-primary-text-color);
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	text-shadow: var(--button-primary-text-shadow); 		
	text-decoration: none;

	/* Display */
	padding: 5px 15px;
	display: inline-block;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Select */
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	/* Animate */
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;	

	background: var(--button-primary-color);
	box-shadow: none;
	text-decoration: none;
}


.button:hover,
.button-primary:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background: var(--button-primary-color-hover);
}
.button:active,
.button-primary:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {	
	border: none;
	background: var(--button-primary-color-hover);
	margin-top: 2px;
	margin-bottom: -2px;
}

/* disabled */
button:disabled,
button.disabled,
.button.disabled {
	background: #555;
	cursor: normal;
}

/* Icons */
.button span,
.button-secondary span,
.button-alert span,
.button-warning span, {
	margin-right: 5px;
}


/* Full Width */
.button.full-width,
.button-primary.full-width,
.button-secondary.full-width,
.button-alert.full-width,
.button-warning.full-width,
.button-big-primary.full-width,
.button-big-secondary.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}


/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button-small {
	font-size: 0.7em !important;
	padding: 0.5ex 1ex !important;
}