/* #Forms
================================================== */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="address"],
	input[type="number"],
	textarea,
	select {
		padding: 10px 12px;
		outline: none;
		font-size: 18px;
		font-family: "Atkinson Hyperlegible", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: var(--form-text-color);
		width: 20em;
		max-width: 100%;
		display: block;
		margin-top: 0px;
		background: var(--form-background-color);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid var(--form-border-color);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;        
	}

	.inline-form input[type="text"],
	.inline-form input[type="password"],
	.inline-form input[type="email"],
	.inline-form input[type="url"],
	.inline-form input[type="phone"],
	.inline-form input[type="address"],
	.inline-form input[type="number"],
	.inline-form select {
		display: inline;
	}
	
	select { padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	textarea:focus {
		border: 1px solid var(--form-border-focus-color);
		color: var(--form-text-focus-color);
 		-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
		box-shadow:  0 0 5px rgba(0,0,0,.2);
	}
	
	legend {
		display: block;
		font-weight: normal;
		font-size: 16px;
		font-style: normal;
		margin-bottom: 5px;
	}

	select {
		color: var(--form-text-color);
		width: 220px;
	}

	input[type="checkbox"] {
		display: inline;
	}

	label span,
	legend span {
		font-weight: normal;
		font-size: 14px;
		color: #444;
	}

	a {
		font-style: normal;
	}

	label span.form_error {
		margin: 0 0 0 3px;
		color: var(--form-label-color);
	}
