/* #Links
================================================== */
a, a:visited { 	
	color: var(--link-color); 
	font-weight: normal; 
	text-decoration: underline; 
	outline: 0; 
}
a:hover, a:focus { 
	color: var(--link-color-hover); 
	text-decoration: underline; 
}
p a, p a:visited { 
	line-height: inherit; 
}
