/* #Tables
================================================== */

	
	.full-width-table {
		width: 100%;
		margin-top: 20px;
	}
	
	.rounded {
		border: solid #ccc 1px;
		border-radius: 6px; 	
	}
		
	.rounded td, .rounded th {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 10px;
		text-align: left;
	}
	
	.rounded th {
		border-top: none;
	}
	
	.rounded td:first-child, .rounded th:first-child {
		border-left: none;
	}
	
	.rounded th:first-child {
		border-radius: 6px 0 0 0;
	}
	
	.rounded th:last-child {
		border-radius: 0 6px 0 0;
	}
	
	.rounded th:only-child{
		border-radius: 6px 6px 0 0;
	}
	
	.rounded tr:last-child td:first-child {
		border-radius: 0 0 0 6px;
	}
	
	.rounded tr:last-child td:last-child {
		border-radius: 0 0 6px 0;
	}
	
	
	
	/* Zebra Striping ----------------------*/
	
	.zebra td, .zebra th {
		padding: 0.5em;
		border-bottom: 1px solid #f2f2f2;
	}
	
	th, tfoot td { font-weight: bold; }
	
	.zebra tbody tr:nth-child(even) {
		background: var(--table-cell-alt-color);
	}
	
	.zebra th {
		text-align: left;
	}
	
	.zebra th:first-child {
		border-radius: 6px 0 0 0;
	}
	
	.zebra th:last-child {
		border-radius: 0 6px 0 0;
	}
	
	.zebra th:only-child{
		border-radius: 6px 6px 0 0;
	}
	
	.zebra tfoot td {
		border-bottom: 0;
	}
	
	.zebra tfoot td:first-child {
		border-radius: 0 0 0 6px;
	}
	
	.zebra tfoot td:last-child {
		border-radius: 0 0 6px 0;
	}
	
	.zebra tfoot td:only-child{
		border-radius: 0 0 6px 6px;
	}


	/* Both */

	.rounded tbody tr:hover, .zebra tbody tr:hover {
		background: var(--table-row-hover);
		transition: all 0.1s ease-in-out;
	}
