/* #Tables
================================================== */

	
	.full-width-table {
		width: 100%;
		margin-top: 20px;
	}
	
	.rounded {
		border: solid var(--table-border-color) 1px;
		border-radius: 6px; 	
	}
		
	.rounded td, .rounded th {
		border-left: 1px solid var(--table-border-color);
		border-top: 1px solid var(--table-border-color);
		padding: 10px;
		text-align: left;
	}
	
	.rounded th {
		border-top: none;
	}
	
	.rounded td:first-child, .rounded th:first-child {
		border-left: none;
	}
	
	.rounded th:first-child {
		border-radius: 6px 0 0 0;
	}
	
	.rounded th:last-child {
		border-radius: 0 6px 0 0;
	}
	
	.rounded th:only-child{
		border-radius: 6px 6px 0 0;
	}
	

	.rounded:has(tfoot) tfoot tr:last-child td:first-child {
		border-radius: 0 0 0 6px;
	}
	.rounded:not(:has(tfoot)) tbody tr:last-child td:first-child {
		border-radius: 0 0 0 6px;
	}
	
	.rounded:has(tfoot) tfoot tr:last-child td:last-child {
		border-radius: 0 0 0 6px;
	}
	.rounded:not(:has(tfoot)) tbody tr:last-child td:last-child {
		border-radius: 0 0 0 6px;
	}
	
	
	
	/* Zebra Striping ----------------------*/
	.zebra thead tr, .zebra tfoot tr {
		background-color: var(--table-cell-header-color);
	}


	.zebra td, .zebra th {
		padding: 0.5em;
	}
	
	th { font-weight: bold; }
	
	.zebra tbody tr:nth-child(even) {
		background: var(--table-cell-alt-color);
	}
	
	.zebra th {
		text-align: left;
	}
	
	.zebra th:first-child {
		border-radius: 6px 0 0 0;
	}
	
	.zebra th:last-child {
		border-radius: 0 6px 0 0;
	}
	
	.zebra th:only-child{
		border-radius: 6px 6px 0 0;
	}
	
	.zebra tfoot td {
		border-bottom: 0;
	}
	
	.zebra tfoot td:first-child {
		border-radius: 0 0 0 6px;
	}
	
	.zebra tfoot td:last-child {
		border-radius: 0 0 6px 0;
	}
	
	.zebra tfoot td:only-child{
		border-radius: 0 0 6px 6px;
	}


	/* Both */

	.rounded tbody tr:hover, .zebra tbody tr:hover {
		background: var(--table-row-hover);
		transition: all 0.1s ease-in-out;
	}
