/* #Typography
================================================== */

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 10px;
}

h1 { font-size: 60px; margin-bottom: 21px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; margin-bottom: 8px; }
h4 { font-size: 18px; margin-bottom: 6px; }
h5 { font-size: 24px; }
h6 { font-size: 18px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

.subheader { color: var(--subhead-color); }

/* Body Text */

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }

strong {
	font-weight: 700;
}

small { font-size: 80%; }

sup, sub {
	font-size: smaller;
	vertical-align: super;
}
sub { vertical-align: sub }


/*	Blockquotes  */

blockquote, blockquote p { font-size: 70%; line-height: 1.4; color: #333; font-style: normal; margin: 0 0 10px 0; }
blockquote { margin: 0 0 10px; padding: 0.25em; }
blockquote.owner-notes { border-left: 4px solid #c9c9c9; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }


/* Lines */

hr {
	border: solid #b0b1b2; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 0px; 
	height: 0;
}

hr.medium {
	border: none;
	height: 4px;
	background: #000;
}

hr.large {
	border: none;
	height: 8px;
	background: #000;
}
